<MudContainer Class="d-flex flex-column mt-5 mb-5">
    <div Class="mb-5">
        <h2>Machines</h2>
    </div>
    <MudPaper Elevation="25">
        <MachineToolBar FormModeToggle="@((FormMode mode) => @OnFormModeHasChanged(mode))" />
    </MudPaper>
    <MudDataGrid Items="Machines">
        <Columns>
            <PropertyColumn Property="m => m.Id" />
            <PropertyColumn Property="m => m.Name" />
            <PropertyColumn Property="m => m.Online" />
            <PropertyColumn Property="m => m.Section" />
        </Columns>
    </MudDataGrid>
</MudContainer>

@code {

    [Parameter]
    public IEnumerable<MachineModel> Machines { get; set; } = [];

    [Parameter]
    public EventCallback<FormMode> FormModeChanged { get; set; }
    private async Task OnFormModeHasChanged(FormMode mode)
    {
        await FormModeChanged.InvokeAsync(mode);
    }
}